<% @line_items.each do |laptop| %>
  <p><%= laptop.description %></p>
  <ul>
    <li><%= laptop.price.unit_amount %></li>
    <li><%= laptop.quantity %></li>
    <li><%= laptop.amount_subtotal %></li>
  </ul>
<% end %>