<%# <div class="field has-addons">
  <div class="control">
    <input class="input" type="text" placeholder="Find a repository">
  </div>
  <div class="control">
    <a class="button is-info">
      Search
    </a>
  </div>
</div> %>

<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification has-background-info-light">
          <!-- If User Exist Say this else say other -->
          <% if user_signed_in? %>
            <p class="title">Hello <%= current_user.email %>!</p>
            <p class="subtitle">Enjoy your shopping!</p>
            <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
          <% else %>
            <p class="title">Shopping? Sign In</p>
            <p class="subtitle">Click me to sign in.</p>
          <% end %>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification has-background-white-ter">
          <p class="title">Laptop Showcase</p>
          <p class="subtitle">Insert random laptop</p>
          <figure class="image is-4by3">
            <img src="https://bulma.io/images/placeholders/640x480.png">
          </figure>
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification has-background-white-ter">
        <p class="title">Looking for Deals?</p>
        <p class="subtitle">Click Me or visit the deals page via the navigation.</p>
        <div class="content">
          <!-- Content -->
        </div>
      </article>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child notification has-background-white-ter">
      <div class="content">
        <p class="title"></p>
        <p class="subtitle"></p>
        <div class="content">
          <!-- Content -->
        </div>
      </div>
    </article>
  </div>
</div>