<% @line_items.each do |item| %>
  <tr>
    <td><%= link_to item.description, Laptop.where(name: item.description).first, :class => "" %>
    <td><%= number_to_currency item.price.unit_amount  %></td>
    <td><%= item.quantity %></td>
    <td><%= number_to_currency item.amount_subtotal %></td>
  </tr>
<% end %>