<h1 class="title is-2">All Laptops</h1>


<div>
  <ul>
    <% @laptops.each do |laptop| %>
      <li>
        <%= link_to laptop.name, laptop %>
      </li>
    <% end %>

    <%= paginate @laptops %>
  </ul>
</div>