<h1>Laptops#index</h1>
<p>Find me in app/views/laptops/index.html.erb</p>


<div>
  <ul>
    <% @laptops.each do |laptop| %>
      <li>
        <%= laptop.name %>
      </li>
    <% end %>

    <%= paginate @laptops %>
  </ul>
</div>