<h1 class="title is-2">Search Results</h1>

<% if params[:keywords] != ""%>
  <p class="subtitle is-6">
    Word Search Result: <%= params[:keywords] %>
  </p>
<% end %>

<% if @laptops.size != 0%>
  <div class="section">
    <ul class="is-flex is-flex-wrap-wrap">
      <%= render @laptops %>
      <%= paginate @laptops %>
    </ul>
  </div>
<% else %>
  <p>No results found.</p>
<% end %>

