<br>
<h1></h1>
<div class="columns">
  <div class="column">
    <%= image_tag "laptops/laptop_example.jpg", height: 500, width: 500, alt: "laptop_example" %>
  </div>
  <div class="column">
    Second column
  </div>
</div>

