<footer class="footer">
  <div class="content has-text-centered">
    <p>
      Laptop Labs™
    </p>
    <p>
      @ 2022 Dylan Reyes
    </p>
  </div>
  <details>
    <summary>
      Cart
      <% if cart.present? %>
        <sup> <%= cart.size %></sup>
      <% end %>
    </summary>
    <% if cart.present? %>
      <ul>
        <% cart.each do |laptop| %>
        <li>
          <%= laptop.name %> <%= button_to "-", cart_path(laptop), method: :delete %>
        </li>
        <% end %>
      </ul>
    <% else %>
      <p>Cart is empty.</p>
    <% end %>
  </details>
</footer>