<div class="has-background-info">
    <div class="container">
      <div class="card-image has-text-centered pt-1">
        <figure class="image is-128x128 is-inline-block">
          <a  href="/">
            <%= image_tag "main/logo_light.png", alt: "Laptop Labs"%>
          </a>
        </figure>
      </div>
    </div>

    <nav class="navbar has-background-info-dark has-text-white navbar-dropdown-item-hover-black" role="navigation" aria-label="main navigation">
      <div class="navbar-menu is-active has-background-info-dark">
        <div class="navbar-start">
          <div class="navbar-item has-text-white has-background-info-dark">
            <p class="has-text-white">
              <% if user_signed_in? %>
                <a style="text-decoration:none" class="has-text-white" href="/users/edit"> Account  </a>
                <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "button is-ghost has-text-white" %>|
              <% else %>
                <%= link_to "Sign In", "/users/sign_in", class: "has-text-white" %>
              <% end %>
            </p>
          </div>

          <a class="navbar-item has-text-white has-background-info-dark" style="text-decoration:none"
             href="/laptops/index" >
            Products
          </a>

          <a class="navbar-item has-text-white has-background-info-dark" style="text-decoration:none"
             href="/laptops/discounts">
            Deals
          </a>
        </div>

        <div class="navbar-end">
          <a class="navbar-item has-text-white has-background-info-dark" style="text-decoration:none"
              href="/about">
            About
          </a>

          <a class="navbar-item has-text-white has-background-info-dark" style="text-decoration:none"
              href="/categories/index">
            Categories
          </a>
          <div class="navbar-item has-text-white has-background-info-dark">
            <a class="has-text-white has-background-info-dark" style="text-decoration:none"
              href="/cart/show">
              Cart
            </a>
            <% if !OrderDetail.where(order_id: current_order.id).size.zero? %>
              <sup class="">
                <%= OrderDetail.where(order_id: current_order.id).size %>
              </sup>
            <% end %>
          </div>
        </div>
      </div>
    </nav>
</div>