<div class="has-background-info-light">
    <div class="container">
      <div class="card-image has-text-centered pt-1">
        <figure class="image is-128x128 is-inline-block">
          <%= image_tag "main/logo.png", alt: "Laptop Labs"%>
        </figure>
      </div>
    </div>

    <nav class="navbar has-background-info-light" role="navigation" aria-label="main navigation">
      <div class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item">
            Products
          </a>

          <a class="navbar-item">
            Discounts
          </a>
        </div>

        <div class="navbar-end">
          <a class="navbar-item">
            About
          </a>
        </div>
      </div>
    </nav>
</div>