
<%= form_with(url: search_laptops_path, method: :get, local: true) do %>
  <div class="columns is-gapless">
    <div class="column">
      <div class="select is-fullwidth">
        <%=
          select_tag "category",
          options_from_collection_for_select(Category.all, :id, :name),
          include_blank: true
        %>
      </div>
      <p></p>
    </div>
    <div class="column is-four-fifths">
      <%= text_field_tag(:keywords, nil, class: "input", placeholder: "Search Product") %>
    </div>

    <div class="column">
      <%= submit_tag("Search", class: "button is-info is-fullwidth") %>
    </div>
  </div>
<% end %>